<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SmartCommerce - {% block title %}{% endblock %}</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  {% block stylesheets %}
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Toastr -->
  <link rel="stylesheet" href="/plugins/toastr/toastr.min.css">
  {% endblock stylesheets %}
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="/css/main.css">


</head>
<body class="layout-fixed sidebar-collapse">
<!-- Site wrapper -->
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

	{% include('errors.html.twig') %}

	{% block contentwrapper %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
	{% block contentheader %}

	{% endblock contentheader %}
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="container-fluid">
		{% block content %}

		{% endblock content %}
      </div>
    </section>
    <!-- /.content -->
	{% endblock contentwrapper %}
  </div>
  <!-- /.content-wrapper -->



</div>
<!-- ./wrapper -->

{% block javascripts %}
  <!-- jQuery -->
  <script src="/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- overlayScrollbars -->
  <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/dist/js/adminlte.min.js"></script>
  <!-- Toastr -->
  <script src="/plugins/toastr/toastr.min.js"></script>
  <!-- Bootstrap Switch -->
  <script src="/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
  {% if app.flash %}
  <script>
  	var flash = {{ app.flash|json_encode|raw }};
  	for( type in flash)
  	{
  		var messages = flash[type];
  		for( it in messages )
  			switch(type){
  				case 'error':   toastr.error(messages[it]);   break;
  				case 'warning': toastr.warning(messages[it]); break;
  				case 'info':    toastr.info(messages[it]);    break;
  				case 'success': toastr.success(messages[it]); break;
  			}
  	}
  </script>
  {% endif %}
  <script>
		$(document).ready(function(){
			$("input[data-bootstrap-switch]").each(function(){
				$(this).bootstrapSwitch('state', $(this).prop('checked'));
			});
		});
  </script>
{% endblock javascripts %}

</body>
</html>
